body {
  opacity: 0;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  color: $gray-850;
  // call the keyframe fadeIn, use animattion ease-in and repeat 1 time
  -webkit-animation: fadeIn ease-in 1;  
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  // making sure after animation is complete we remain at the last keyframe value (opacity: 1)
  -webkit-animation-fill-mode: forwards; 
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  animation-duration: .5s;
}

html,
body {
  height: 100%;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.axis-column {
  display: flow-root;
  flex-direction: column;
  flex-wrap: wrap;
}

.axis-row {
  display: flow-root;
  flex-direction: row;
  flex-wrap: wrap;
}

header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

form {
  flex: 0 1 100%;
  width: 100%;
  max-width: 100%;
}



// Change autocomplete styles in WebKit  
// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus input:-webkit-autofill,
// textarea:-webkit-autofill,
// textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
// select:-webkit-autofill,
// select:-webkit-autofill:hover,
// select:-webkit-autofill:focus {
//   border: none;
//   -webkit-text-fill-color: none;
//   -webkit-box-shadow: none;
//   transition: none;
// }
.tg-list {
  text-align: center;
  display: flex;
  align-items: center;
}

.tg-list-item {
  margin: 0 2em;
}

.tgl {
  display: none; // add default box-sizing for this scope
  &,
  &:after,
  &:before,
  & *,
  & *:after,
  & *:before,
  &+.tgl-btn {
    box-sizing: border-box;
    &::selection {
      background: none;
    }
  }
  +.tgl-btn {
    outline: 0;
    display: inline-block;
    width: 7rem;
    height: 1.8rem;
    position: relative;
    cursor: pointer;
    user-select: none;
    &:after,
    &:before {
      position: relative;
      display: inline-block;
      content: "";
      width: 50%;
      height: 100%;
    }
    &:after {
      left: 0;
    }
    &:before {
      display: none;
    }
  }
  &:checked+.tgl-btn:after {
    left: 50%;
  }
}

.tgl-skewed {
  +.tgl-btn {
    overflow: hidden;
    transform: skew(-10deg);
    backface-visibility: hidden;
    transition: all .2s ease;
    font-family: 'Roboto', sans-serif;
    background: $green;
    &:after,
    &:before {
      transform: skew(10deg);
      display: inline-block;
      transition: all .2s ease;
      width: 100%;
      text-align: center;
      position: absolute;
      line-height: 2em;
      font-weight: bold;
      color: #fff;
      text-shadow: 0 1px 0 rgba(0, 0, 0, .4);
    }
    &:after {
      left: 100%;
      content: attr(data-tg-on);
    }
    &:before {
      left: 0;
      content: attr(data-tg-off);
    }
    &:active {
      background: $green;
      &:before {
        left: -10%;
      }
    }
  }
  &:checked+.tgl-btn {
    background: #888;
    &:before {
      left: -100%;
    }
    &:after {
      left: 0;
    }
    &:active:after {
      left: 10%;
    }
  }
}

// flex helpers
.flex-no-shrink {
  flex-shrink: 0;
}

//page loader
.pace {
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #2299dd;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
// a links
a {
  outline-color: transparent;
}
// buttons ---------------------------
.btn {
  text-transform: uppercase;
}
button:hover {
  cursor: pointer;
}

.actionButtons {
  .actionBtn label {
    display: inline-flex;
  }
}
.btn-skewed {
  outline: 0;
  display: inline-block;
  background-color: $blue;
  color: $white;
  //width: 7rem;
  height: 1.8rem;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  position: relative;
  top: 0;
  transform: skew(-10deg);
  &:hover {
    background-color: $blue-375;
    color:$white;
    text-decoration: none;
  } 
  .lbl-save {
    transform: skew(10deg);
  }
}

.bss-btn {
  display: inline-block;
  font-weight: $btn-font-weight;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: $input-btn-border-width solid transparent;
  @include button-size($input-btn-padding-y, $input-btn-padding-x, $font-size-base, $input-btn-line-height, $btn-border-radius);
  @include transition($btn-transition);

  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
  }
  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: .65;
    @include box-shadow(none);
  }

  &:active,
  &.active {
    background-image: none;
    @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
  }
}

.btn-primary-02 {
  color: $btn-primary-02-color;
  font-size: $btn-primary-02-font-size;
  text-transform: uppercase;
  background-image: $btn-primary-02-bg-grad;
  padding: $btn-primary-02-padding;
  border: $btn-primary-02-border;
  border-radius: $btn-primary-02-border-radius;
  &:hover,
  &:active,
  &:focus {
    color: $btn-primary-02-color;
    background-color: $blue-400;
    border: $btn-primary-02-border-hover !important;
    transition: $btn-primary-02-trans-bgcolor;
  }
  .fa {
    font-size: $btn-primary-02-fa-size;
  }
}
.btn-danger,
.btn-primary,
.btn-primary-02 {
  font-size: $btn-primary-02-font-size;
  padding: $btn-primary-02-padding;
}

.btn-red{
  color: $btn-red-color;
  font-size: $btn-red-font-size;
  text-transform: uppercase;
  vertical-align: $btn-red-fa-valign;
  background-image: $btn-red-bg-grad;
  padding: $btn-red-padding;
  border: $btn-red-border;
  border-radius: $btn-red-border-radius;
  &:hover,
  &:active,
  &:focus {
    color: $btn-red-color;
    background-color: $red;
    border: $btn-red-border-hover !important;
    transition: $btn-red-trans-bgcolor;
  }
  .fa {
    font-size: $btn-red-fa-size;
  }
}
.btn-danger,
.btn-primary,
.btn-primary-02 {
  font-size: $btn-red-font-size;
  padding: $btn-red-padding;
}

.actionBtn {
  text-align: center;
  background-color: $blue;
  min-width: rem(80px);
  min-height: rem(40px);
  border: 1px solid $cyan;
  align-self: center;
  &:hover,
  &:active,
  &:focus {
    background-color: $blue-400;
    border: 1px solid $cyan !important;
    cursor: pointer;
    transition: background-color 1s ease-in;
  }
  .action-button-icon {
    margin: 0 4px;
  }
}

.button-save {
  background: $green;
  color: $white;
  margin: $btn-save-margin;
}

.button.clear {
  display: flex;
}


.full-screen-bg-landing-page {
  //@include make-container();
  background-image: url('images/bg/usa-fb-bg.jpg');
  background-color: $blue-450-50;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-attachment: fixed;
  object-fit: contain;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.full-screen-container {
  //@include make-container();
  background-image: url('images/bg/USAF_introscreen-HeroBoy2.png');
  background-color: $blue-000;
  background-size: 100%;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  position: relative;
  right: 0;
  top: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-self: stretch;
  align-items: center;
}

.header-container {
  display: flex; //background-image: linear-gradient(to bottom, $blue, $blue-400);
  background: $blue;
  color: $blue-500;
  @include px-to-rem-height(90px); //height: rem(200px)
  //height: 12.5rem; 
  //padding-top: 28px;
}

.brand-container {
  display: flex;
  padding: 18px 20px;
  color: $white;
  .brand-logo {
    max-width: 100%;
    max-height: 100%; //display: flex;
  }
  .brand-tag {
    align-self: flex-end;
    margin-left: 10px;
  }
}

.page-title-container {
  display: table-cell;
  vertical-align: middle;
  padding-left: 0; //position: relative;
  //top: -75px;
  .page-title {
    display: inline-flex;
    color: $blue;
    font-family: $font-family-base;
    font-size: $h4-font-size;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
    .fa {
      color: $page-title-fa-color; //font-size: ($font-size-lg / $font-size-base + .5rem);
      margin: $page-title-fa-margin;
      vertical-align: middle;
    }
    .form-control {
      border: 0;
      border-radius: 0;
      height: 42px;
      flex: 0 0 auto;
      width: 80%;
    }
  }
  .title-bar {
    position: absolute;
    top: 12rem;
    color: $white;
    display: flex;
    margin-left: 5px;
  }
}

.header-content-divider {
  background-color: $blue;
  color: $white;
  height: 20px;
  width: 100%;
}

.nav-container {
  display: flex;
  max-width: 100%;
  margin-right: -20px;
}

.alertPane {
  padding-left: 0;
  padding-right: 0;
  margin-top: rem(10px);
  height: rem(76px);
  .alert {
    padding: 0rem 1rem;
    margin: 0rem;
    .alert-dismissible {
      label {
        font-size: $font-size-base;
      }
    }
  }
}

.alert-dismissible {
  .close {
    font-size: $font-size-sm;
    font-weight: normal;
    top: 0;
    right: -1.25rem;
    padding: 0.75rem;
    color: inherit;
    border-left: solid 1px $green-000-40;
  }
}

.editMode {
  border: 1px solid $cyan !important;
  background: rgba(0, 0, 0, 0.35) !important;
  transition: opacity .2s ease;
  -moz-transition: opacity .2s ease;
}

.formField {
  padding: rem(6px 10px);
  color: $white;
  width: 100%;
  display: flex;
  border: solid 1px transparent;
  transition: background 0.2s ease, border 0.2s ease;
  -webkit-transition: background 0.2s ease, border 0.2s ease;
  &:disabled {
    background: transparent;
    border: 1px solid transparent;
    transition: background 0.4s ease, border 0.4s ease;
    -webkit-transition: background 0.4s ease, border 0.4s ease;
  }
}

.editMode .formField {
  border: 1px solid $cyan;
  background-color: rgba(0, 0, 0, 0.35);
  transition: background 0.4s ease, border 0.4s ease;
  -webkit-transition: background 0.4s ease, border 0.4s ease;
}

select,
option {
  -webkit-appearance: none; // To gain control over the appearance on WebKit/Chromium 
  -moz-appearance: none; // To gain control over the appearance on Gecko 
  // To gain control over the appearance on and Trident (IE)
  // Note that it also works on Gecko and has partial effects on WebKit 
  background: none;
  background-color: transparent;
}

.profile-data {
  display: flex;
}

.profile-data label {
  margin-bottom: 0;
}

.selLabel {
  //height: 34px;
  padding-left: rem(4px); //margin-bottom: 0;
  // line-height: $custom-select-line-height;
  vertical-align: middle;
  border: $custom-select-border-width solid $custom-select-border-color;
  &:disabled {
    display: none;
  }
}

.text-small {
  font-size: $font-size-sm;
}

.text-lg {
  font-size: $font-size-lg;
}

.text-xlg {
  font-size: $font-size-xlg;
}

.text-yellow {
  color: $light-yellow;
}
.text-lightGray {
  color: $gray-500;
}

.page-title-container a:link,
.page-title-container a:visited,
.page-title-container a:active {
  color: $light-yellow;
}

.custom-select {
  background: $blue;
  color: $white;
  height: rem(34px);
  &:disabled {
    background: none;
    background-image: $custom-select-indicator-2 !important;
    background-color: transparent;
    color: $white;
    border: 1px solid transparent;
  }
}

// .navbar-nav .nav-item {
// }
.container-fluid .my-account {
  color: $white;
  font-size: .85rem;
  margin-right: rem(28px)
}

.container .my-account {
  color: $white;
  font-size: .85rem;
  margin-right: 0
}

.user-avatar {
  background-color: $user-avatar-bg-color;
  width: $user-avatar-width;
  max-width: 100%;
  margin: $user-avatar-margin;
  border: $user-avatar-border-width $border-type-solid $blue-400;
  border-radius: $user-avatar-border-radius;
}

.user-avatar-md {
  background-color: $user-avatar-md-bg-color;
  width: $user-avatar-md-width;
  max-width: 100%;
  margin: $user-avatar-md-margin;
  border: $user-avatar-md-border-width $border-type-solid $blue-400;
  border-radius: $user-avatar-md-border-radius;
}

.user-avatar-lg {
  background-color: $user-avatar-lg-bg-color;
  width: $user-avatar-lg-width;
  width: $user-avatar-lg-height;
  max-width: 100%;
  max-height: 100%;
  margin: $user-avatar-lg-margin;
  border: $user-avatar-lg-border-width $border-type-solid $blue-400;
  border-radius: $user-avatar-lg-border-radius;
}

.my-account .nav-link.dropdown-toggle {
  text-transform: lowercase !important;
}

.my-account .dropdown-menu {
  margin-top: 0;
  padding-top: 0;
}

.content-container {
  padding: 20px;
  display: flex
}

.footer-container {
  background-image: $darkblue-gradient-reverse;
  height: 236px;
}

// forms
.text-field-email {
  background: url('img/icons/email.png');
}

.col-form-label {
  color: $form-label-font-color;
}

//bootstrap-table
.fixed-table-container thead th .sortable {
  background-position: right -4px center;
  background-repeat: no-repeat;
}

.fixed-table-container thead.cpl td {
  padding-left: rem(10px);
}

.fixed-table-header > table { 
	display: none;
	}

.table-striped tbody tr:nth-of-type(2n+1) {
  background-color: $blue-450-14;
}

//user profile
.border-bottom {
  border-bottom: $border-type-solid $border-width-1 $blue-025;
}

.edit-col {
  height: 100%;
}

// sign in page
.sign-in-page-logo {
  width: 23.38rem;
}

.width-si-form {
  width: 23.75rem;
}

.sign-in-form {
  margin-top: 1.875rem;
  color: $white;
  .input-wrapper {
    flex-grow: 1 0 100%;
    border: $sign-in-input-border;
    border-radius: 0;
    background: $white;
    box-shadow: $blur-20;
    white-space: nowrap;
    .input-wrapper>.form-control-theme {
      //width: 23.75rem;
    }
    .checkbox-theme {
      border: $sign-in-input-border;
    }
    input[type="password"],
    input[type="text"] {
      border: 0;
      margin-left: .625rem;
      width: 100%; //19.9rem;
    }
    .fa-layer {
      display: flex;
      z-index: 500;
      margin: 0 6px;
      color: $gray-600;
      font-size: $font-size-lg;
    }
    .fa-envelope {
      position: absolute;
      top: .4375rem;
      left: .25rem;
    }
    .fa-lock {
      position: absolute;
      top: .4375rem;
      left: .4rem;
    }
    .row>[class^=col-] {
      padding-bottom: 0;
    }
  }
  .input-group {
    font-size: $font-size-sm;
    .form-control {
      flex: 0 0 auto;
      width: 50%;
    }
    .form-control.control-width-50 {
      flex: .5 0 auto;
      width: 50% !important;
    }
  }
}

.userData .form-control {
  background-color: transparent;
  &:focus {
    color: $white;
    background-color: transparent; //border-color: #175ebc;
    outline: none;
  }
}

form.dropzone {
  min-height: 183px;
}

//bootstrap table
thead {
  text-transform: uppercase;
  color: $white;
  font-size: $font-size-xsm !important;
  font-weight: $font-weight-normal !important;
  //border-bottom: $border-width-3 $border-type-solid $blue !important;
  th {
    background: $blue !important;
    text-align: center;
    &:hover {
      background: $blue-400 !important;
      border-top: solid 10px $blue-400;
      border-bottom: solid 10px $blue-400;
      cursor: pointer;
    }
  }
}

thead.cpl {
  text-transform: uppercase;
  color: $white;
  font-size: $font-size-sm;
  font-weight: $font-weight-normal !important;
  th {
    .th-inner {
      display: block;
      width: 100%;
      padding: 0 6px 0 8px;
      ;
      padding: 0 rem(6px) 0 rem(8px);
      margin: 0; // margin: 10px 0;
      // margin: rem(10px) 0;
    }
  }
}

.table thead th {
  vertical-align: middle;
  border-bottom: 0;
  padding: 0;
  border-top: 10px solid $blue;
  border-bottom: 10px solid $blue;
  &:hover {
    border-top: 10px solid $blue-400;
    border-bottom: 10px solid $blue-400;
  }
  &:not(:last-child) {
    border-right: $border-width-1 $border-type-solid $green;
  }
}
// tbody {
//   tr {
//     border-bottom: 1px solid $gray-500 !important;
//     border-left: 1px solid $gray-500 !important;
//   }
//   td {
//     border-right: 1px solid $gray-500 !important;
//     border-top: 1px solid $gray-500 !important;
//   }
// }

.table td {
  // padding: 0.90rem;
  font-size: $font-size-sm;
  vertical-align: middle; // border-top: 0;
}

//status circle
.status-disabled {
  color: $red;
  &:link,
  &:visited,
  &:hover {
    color: $red;
    text-decoration: none;
  }
  .fa-minus-circle::after {
    display: inline-block;
    font-family: $font-family-base;
    font-size: $font-size-sm;
    content: "Disabled";
    margin-left: 4px;
    outline: 0px;
  }
}
.status-enabled {
  color: $green;
  &:link,
  &:visited,
  &:hover {
    color: $green;
    text-decoration: none;
  }
  .fa-check-circle:after {
  display: inline-block;
  font-family: $font-family-base;
  font-size: $font-size-sm;
  content: "Active";
  margin-left: 4px
  }
}

.status-enabled .fa-plus-square,
.status-disabled .fa-minus-square {
  margin-right: 10px;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2.5rem, 0);
    transform: translate3d(0, 2.5rem, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.mc-container {
  position: relative;
  background-image: url(images/bg/usa-fb-bg.jpg);
  background-color: $blue-450-50;
  background-blend-mode: multiply;
  object-fit: contain;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
}

.mc-container-overlay {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 20px 0;
  z-index: 90%;
}

.profile-container {
  margin: 0 auto;
  background: rgba(73, 144, 226, 0.25);
  border-radius: 2px; // background-color: #000;
  //border: solid 1px rgba(73, 144, 226, 0.25);
  .titlebar {
    background: $red;
    height: rem(40px);
    padding: 0.625rem 1.25rem;
    .h3-title {
      font-size: $h4-font-size;
      color: $white;
      padding: 0;
      margin: rem(1px) rem(20px) rem(20px) rem(20px);
    }
  }
  .profile-data {
    width: 96%;
    background: rgba(0, 0, 0, 0.35);
    color: $blue-600;
    padding: rem(20px);
    margin: 0 auto;
    border: solid 1px transparent;
    border-radius: 2px;
    .profileCard {
      padding: 20px 10px 10px 10px;
      background: rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      width: 100%;
    }
  }
}

.card-theme-blue {
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(9, 37, 74, 0.5);
    background-clip: border-box;
    border: $card-border-width solid $blue-300;
    color: $white; //@include border-radius($card-border-radius);
  }
  .card-header {
    padding: $card-spacer-y $card-spacer-x;
    margin-bottom: 0; // Removes the default margin-bottom of <hN>
    background-color: $blue-000;
    border-bottom: $card-border-width solid $card-border-color;
    &:first-child {
      //@include border-radius($card-inner-border-radius $card-inner-border-radius 0 0);
    }
  }
  .card-body {
    // Enable `flex-grow: 1` for decks and groups so that card blocks take up
    // as much space as possible, ensuring footers are aligned to the bottom.
    flex: 1 1 auto;
    padding: $card-spacer-x;
  }
  .card-title {
    margin-bottom: $card-spacer-y;
  }
  .card-subtitle {
    margin-top: -($card-spacer-y / 2);
    margin-bottom: 0;
  }
  .card-text:last-child {
    margin-bottom: 0;
  }
  .card-link {
    @include hover {
      text-decoration: none;
    }
    +.card-link {
      margin-left: $card-spacer-x;
    }
  }
  .card {
    >.list-group:first-child {
      .list-group-item:first-child {
        @include border-top-radius($card-border-radius);
      }
    }
    >.list-group:last-child {
      .list-group-item:last-child {
        @include border-bottom-radius($card-border-radius);
      }
    }
  }
}

// font sizing
.font-xl {
  font-size: rem(36px);
  vertical-align: middle;
}

.font-lg {
  font-size: rem(32px);
  vertical-align: middle;
}

.font-md {
  font-size: rem(24px)
}

.offset-top-2 {
  position: relative;
  top: 2px;
  top: rem(2px)
}

.offset-top--6 {
  position: relative;
  top: -6px;
  top: rem(-6px)
}

.offset-top-8 {
  position: relative;
  top: 18px;
  top: rem(8px)
}

.offset-top-10 {
  position: relative;
  top: 10px;
  top: rem(10px)
}

@media (max-width: 768px) {
  // .col-md-3 {
  //   flex: 0 0 100%;
  //   max-width: 100%;
  // }
  .row>[class^=col-] {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
}

// modal customizations
.modal-header {
  background: $blue;
  color: $white;
  text-transform: uppercase;
  .close {
    color: $white;
    text-shadow: 0 1px 0 #000;
  }
}

// .modal {
//   position: ;
//   top: 10%;
// }

.modal-body .container-fluid {
  height: 306px;
  overflow-y: scroll;
}

// borders
.border-lightGrey-2s {
  border: $border-width-2 solid $gray-400 !important;
}

// drag and drop
form.dropzone {
  height: 185px;
}

.dnd-div {
  
  .border-lightGrey-2s {
    &:hover {
      border-color: $green;
    }
  }
}

//animations
@include keyframes(motion-right) {
  0% {
    left: 0px;
  }
  100% {
    right: 200px;
  }
}

.move-from-left-0--right-200 {
  @include animation('motion-1 .5s 1',
  'motion-2 .5s 1 .5s');
}

// progress bars
.progress-auto-grow {
  @include animateWidth(0%,
  100%);
  animation: growHorizontal 1.5s linear 1;
  width: 100%;
}

.progressbar-inmodal {
  height: 5px;
  min-width: 286px;
  max-width: 100%;
  margin: rem(10px) auto;
  .progressbar-bg {
    height: 5px;
    min-width: 286px;
    max-width: 100%;
    margin: 0;
  }
}

// making sure the base font weight is normal - DELETE BEFORE RELEASE
body {
  font-size: $font-size-base;
  font-weight: $font-weight-base;
}

// notify box
.card-theme-blue h4.card-header {
  font-weight: normal !important;
  font-size: 16px;
  font-size: 1rem;
}

.notify {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: $blue-400;
  padding: 0 !important;
}

.notify-item {
  color: $blue-600;
  font-size: .90rem;
  /* padding: .625rem .625rem .625rem 3.125rem; */
  border-bottom: $border-lightblue-solid-1;
}

.notify-item i.fa {
  font-size: 1.25rem;
}

.notify-icon {
  color: $blue-600;
  text-align: center;
}

.notify-item .lead {
  font-size: .95rem;
}

//table column menu
.bss-ddm-overide {
  .row>[class^=col-] {
    white-space: nowrap;
  }
  .sectionTitle{
    white-space: nowrap;
    margin: 10px 0 !important;
  }
  .dropdown-menu,
  .dropdown-menu[style] {
    position: absolute; 
    top: unset !important; 
    left: -130px !important; 
    background: $white;
    width: 190%vw !important;
    width: 75rem !important;
    max-width: (100%vw - 20%)px;
    border: 1px solid rgba(0,0,0,.15);
    transform: translate3d(0px, 0px, 0px) !important;     
    box-shadow: $dropdown-box-shadow;
    label {
      font-size: $font-size-sm;
    }
    span {
      display:block;
    }
    div.col-2.form-check {
      overflow-x: hidden;
    }
  }
}



// ----------------- nothing below the following class --------------//
.row>[class^=col-] {
  padding-bottom: .75rem;
  padding-top: .75rem; //border: $border-wireframe;
}

.row {
  width: 100%;
  margin: 0;
}
